{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}

{% block title %}Home » VisaB2b{% endblock title %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js">

<title>VisaB2b</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="{% static 'Visab2b/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="{% static 'Visab2b/assets/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'Visab2b/assets/css/templatemo-edu-meeting.css' %}">
<link rel="stylesheet" href="{% static 'Visab2b/assets/css/owl.css' %}">
<link rel="stylesheet" href="{% static 'Visab2b/assets/css/lightbox.css' %}">

<!--
TemplateMo 569 Edu Meeting
https://templatemo.com/tm-569-edu-meeting
-->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
<link rel="stylesheet" href="{% static 'slider/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'slider/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'slider/css/slider.css' %}">
<link rel="stylesheet" href="{% static 'slider/css/style.css' %}">
<!-- <link rel="stylesheet" href="{% static 'slider/css/search.css' %}"> -->

<body>

  <!-- Sub Header -->
  <div class="w-full bg-blue-500 text-white flex justify-between items-center px-5 py-2">
    <div class="">
        <p class="fa fa-phone border-r-2 pr-2 mr-2 border-white text-white mb-0">+012 345 6789 </p><p class="fa fa-envelope text-white mb-0"> info@example.com</p>
    </div>
    <div>
        <ul  class="flex gap-2 m-0">
          <li class=""><a href="#"><i class="text-white fa fa-facebook-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-twitter-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-youtube-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">

            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo m-0">
              <img src="{% static 'Visab2b/assets/images/visa-b2b.png' %}"  >
            </a>
            <!-- ***** Logo End ***** -->

            <ul class="nav m-0">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li>  
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Us</a></div></li> 
            </ul>    

          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="wrapper box">
    <div class="single-box"><img alt="" src="{% static 'slider/images/4.jpeg' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/slider-2.jpg' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/2.jpeg' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/1.jpeg' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/4.webp' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/2.jpeg' %}"></div>
		<div class="single-box"><img alt="" src="{% static 'slider/images/3.jpeg' %}"></div>
    <div class="single-box"><img alt="" src="{% static 'slider/images//4.webp' %}"></div>

    <div class="input-field mt-24 w-full items-center flex flex-col h-full justify-center">

      <div class="flex flex-col w-full px-4 md:px-0 md:w-1/2 items-center mb-10">
        <h2 class="self-start text-2xl sm:text-3xl text-white font-bold">Search Visa</h2>
        <form method="POST" class="w-full flex gap-2">

          {% csrf_token %}
          {{ form1.country_name }}
          {% comment %} <input type="text" list="countrydata" name="country_name" placeholder="Select Country..." class="form-control" /> {% endcomment %}
          <input type="submit" class="btn btn-primary" value="Search" />

          {% comment %} <datalist id="countrydata">
            {% for country in countries %}
            <option value="{{country.id}}">{{country.name}}</option>
            {% endfor %}
          </datalist> {% endcomment %}

        </form>
      </div>

      <div class="px-4 md:px-0 w-full md:w-1/2">
        <h2 class="self-start text-2xl sm:text-3xl text-white font-bold">Know Visa Status</h2>  
        <div class="flex w-full">
          <form class="flex gap-2 w-full" method="post">

            {% csrf_token %}
            <input type="text" id="country" name="application_id" placeholder="Application ID" class="form-control" /> 
            <input type="text" id="country" name="phone" placeholder="Phone Number" class="form-control" />
            <input type="submit" class="btn btn-primary" value="Search" />
          
          </form>
        </div>
      </div>
    </div> 

  </div>

  <script src="{% static 'slider/js/jquery.min.js'%}"></script>
  <script src="{% static 'slider/js/popper.js'%}"></script>
  <script src="{% static 'slider/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'slider/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'slider/js/main.js'%}"></script>
  <style>
    select:invalid {
      color: rgba(156, 163, 175, 1);
    }

  </style>
  <!--Footer Start -->
  <div class="container-fluid border-top py-4" id="footer">
    <!-- style="border-color: rgba(256, 256, 256, .1) !important;" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center><p>Copyright © 2022 Company. All rights reserved. 
          <br>Powered by: <a href="https://skybookdigital.com/" target="_blank">SkyBook Digital</a></p></center>
        </div>
      </div>
    </div>
  </div>
  <!--End Footer-->

{% endblock content %}
   