{% extends "base.html" %}
{% load static  %}

{% block title %}VisaB2b{% endblock title %}

{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>VisaB2b</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'Visab2b/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'Visab2b/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'Visab2b/assets/css/templatemo-edu-meeting.css' %}">
  <link rel="stylesheet" href="{% static 'Visab2b/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'Visab2b/assets/css/lightbox.css' %}">
  <!--

  TemplateMo 569 Edu Meeting

  https://templatemo.com/tm-569-edu-meeting

  -->
</head>

<body>

  <!-- Sub Header -->
  <div class="w-full bg-blue-500 text-white flex justify-between items-center px-5 py-2">
    <div class="">
        <p class="fa fa-phone border-r-2 pr-2 mr-2 border-white text-white mb-0">+012 345 6789 </p><p class="fa fa-envelope text-white mb-0"> info@example.com</p>
    </div>
    <div>
        <ul  class="flex gap-2 m-0">
          <li class=""><a href="#"><i class="text-white fa fa-facebook-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-twitter-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-youtube-square"></i></a></li>
          <li class=""><a href="#"><i class="text-white fa fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</div>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">

    <video autoplay muted loop id="bg-video">
        <source src="{% static 'Visab2b/assets/images/Fly - 35780.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="w-full items-center flex h-full justify-center text-center mt-24">
        <div class="w-full lg:w-1/2">
            <h2 class="self-start text-xl sm:text-5xl text-white font-semibold">Let's make your visas<br> much easier and effectively</h2>
            <div class="main-button-red">
              <div class="border-button p-4"><a class="px-5 pt-2 pb-1" href="{% url 'home-page' %}">Visa <i class="bx bx-paper-plane fs-5 me-0"></i></a></div>
            </div>
        </div>
      </div>
    </div>

  </section>

  <!--Footer Start -->
  <div class="container-fluid border-top py-4" id="footer">
    <!-- style="border-color: rgba(256, 256, 256, .1) !important;" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center><p>Copyright © 2022 Company. All rights reserved. 
          <br>Powered by: <a href="https://skybookdigital.com/" target="_blank">SkyBook Digital</a></p></center>
        </div>
      </div>
    </div>
  </div>
  <!--End Footer-->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'Visab2b/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Visab2b/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'Visab2b/assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/lightbox.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/tabs.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/video.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/slick-slider.js' %}"></script>
  <script src="{% static 'Visab2b/assets/js/custom.js' %}"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>

</body>


{% endblock %}


  