{% extends 'dashboard.html' %}
{% load tailwind_filters %}

{% block title %}View visa documents{% endblock title %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <!-- Start Content -->

        <div class="pricing-table">
            <h6 class="mx-3 text-uppercase text-center">View details of the visa</h6>
            <h6 class="mx-3 text-uppercase text-center">Application ID: {{ visa.application_id }}</h6>
            <hr>
            <div class="row justify-content-lg-center">
                
                <div class="col-lg-5 mb-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-header bg-primary py-3">
                            <h5 class="card-title text-white text-uppercase text-center">Visa applicant details</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>Name: {{ visa.name }}</li>
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>Phone: {{ visa.phone }}</li>
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>Email: {{ visa.email }}</li>
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>Nationality: {{ visa.nationality }}</li>
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>Relation to applicant: {{ visa.relation_to_applicant }}</li>
                                <hr>
                                <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.photo %}<a href="{{ visa.photo.url }}" target="_blank">Photo </a>{% endif %}</li>
                                <div class="row">
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.passport1 %}<a href="{{ visa.passport1.url }}" target="_blank">Passport1 </a>{% endif %}</li>
                                    </div>
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.passport2 %}<a href="{{ visa.passport2.url }}" target="_blank">Passport2 </a>{% endif %}</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.onward_ticket %}<a href="{{ visa.onward_ticket.url }}" target="_blank">onward ticket </a>{% endif %}</li>
                                    </div>
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.return_ticket %}<a href="{{ visa.return_ticket.url }}" target="_blank">return ticket </a>{% endif %}</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.document1 %}<a href="{{ visa.document1.url }}" target="_blank">document1 </a>{% endif %}</li>
                                    </div>
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.document2 %}<a href="{{ visa.document2.url }}" target="_blank">document2 </a>{% endif %}</li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.document3 %}<a href="{{ visa.document3.url }}" target="_blank">document3 </a>{% endif %}</li>
                                    </div>
                                    <div class="col-md-6 list-group-flush">
                                        <li class="list-group-item"><i class='bx bx-paper-plane me-2 font-18'></i>{% if visa.document4 %}<a href="{{ visa.document4.url }}" target="_blank">document4 </a>{% endif %}</li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">

                        <div class="card-header bg-primary py-3">
                            <h5 class="card-title text-white text-uppercase text-center">Edit documents of {{ visa.name }}</h5>
                        </div>
                        <div class="card-body p-5">

                            <form class="row g-3" method="POST" enctype="multipart/form-data">

                                {% csrf_token %}

                                <div class="col-md-6">
                                    <label for="name" class="form-label">Name</label>
                                    {{ edit_form.name }}
                                </div>

                                <div class="col-md-6">
                                    <label for="phone" class="form-label">Phone</label>
                                    {{ edit_form.phone }}
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    {{ edit_form.email }}
                                </div>

                                <div class="col-md-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    {{ edit_form.gender }}
                                </div>

                                <div class="col-md-6">
                                    <label for="nationality" class="form-label">Nationality</label>
                                    {{ edit_form.nationality }}
                                </div>

                                <div class="col-md-6">
                                    <label for="relation_to_applicant" class="form-label">Relation to applicant</label>
                                    {{ edit_form.relation_to_applicant }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.photo %}
                                        <label for="photo" class="form-label text-danger fw-bold">
                                            Photo
                                        </label>
                                    {% else %}
                                        <label for="photo" class="form-label">
                                            Photo
                                        </label>
                                    {% endif %}
                                    {{ edit_form.photo }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.passport1 %}
                                        <label for="passport1" class="form-label text-danger fw-bold">
                                            Passport1
                                        </label>
                                    {% else %}
                                        <label for="passport1" class="form-label">
                                            Passport1
                                        </label>
                                    {% endif %}
                                    {{ edit_form.passport1 }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.passport2 %}
                                        <label for="passport2" class="form-label text-danger fw-bold">
                                            Passport2
                                        </label>
                                    {% else %}
                                        <label for="passport2" class="form-label">
                                            Passport2
                                        </label>
                                    {% endif %}
                                    {{ edit_form.passport2 }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.onward_ticket %}
                                        <label for="onward_ticket" class="form-label text-danger fw-bold">
                                            Onward ticket
                                        </label>
                                    {% else %}
                                        <label for="onward_ticket" class="form-label">
                                            Onward ticket
                                        </label>
                                        {% endif %}
                                    {{ edit_form.onward_ticket }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.return_ticket %}
                                        <label for="return_ticket" class="form-label text-danger fw-bold">
                                            Return ticket
                                        </label>
                                    {% else %}
                                        <label for="return_ticket" class="form-label">
                                            Return ticket
                                        </label>
                                    {% endif %}
                                        {{ edit_form.return_ticket }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.document1 %}
                                        <label for="document1" class="form-label text-danger fw-bold">
                                            Document1
                                        </label>
                                    {% else %}
                                        <label for="document1" class="form-label">
                                            Document1
                                        </label>
                                    {% endif %}
                                    {{ edit_form.document1 }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.document2 %}
                                        <label for="document2" class="form-label text-danger fw-bold">
                                            Document2
                                        </label>
                                    {% else %}
                                        <label for="document2" class="form-label">
                                            Document2
                                        </label>
                                    {% endif %}
                                    {{ edit_form.document2 }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.document3 %}
                                        <label for="document3" class="form-label text-danger fw-bold">
                                            Document3
                                        </label>
                                    {% else %}
                                        <label for="document3" class="form-label">
                                            Document3
                                        </label>
                                    {% endif %}
                                    {{ edit_form.document3 }}
                                </div>

                                <div class="col-md-6">
                                    {% if visa.document4 %}
                                        <label for="document4" class="form-label text-danger fw-bold">
                                            Document4
                                        </label>
                                    {% else %}
                                        <label for="document4" class="form-label">
                                            Document4
                                        </label>
                                    {% endif %}
                                    {{ edit_form.document4 }}
                                </div>

                                <div class="col-md-6">
                                    <label for="status" class="form-label">
                                        Status
                                    </label>
                                    {{ edit_form.status }}
                                </div>
                                
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-5">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

        <!-- End Content -->
    </div>
</div>
{% endblock content %}
